body {
  background:#6a38ab;
  /* background: linear-gradient(90deg, rgba(154,232,241,0.9587185215883228) 0%, rgba(121,167,241,1) 100%); */
   /* rgb(154,177,222); */
  /* background: linear-gradient(90deg, rgba(175,189,215,0.9587185215883228) 0%, rgba(79,104,145,1) 100%); */
  /* background: rgb(40,177,205);
  background: linear-gradient(90deg, rgba(40,177,205,0.9587185215883228) 0%, rgba(137,177,244,1) 100%); */
  /* background: rgb(171,231,243);
  background: linear-gradient(90deg, rgba(171,231,243,0.9587185215883228) 0%, rgba(165,193,240,1) 100%); */
    margin:0;
    font-family:"Montserrat", "Avenir";
}
.header{
    color: white;
    text-align: center;
    line-height:2;
    /* background: rgb(40,177,205);
background: linear-gradient(90deg, rgba(40,177,205,0.9587185215883228) 0%, rgba(137,177,244,1) 100%); */
    /* background-color: steelblue;  */
    margin:0;
    text-align:center;
    font-weight:normal;
    padding:20px,0;
}
h1{
    margin:0;
    font-size:3.2em;
}
h2{
    margin:0;
    font-size:2.0em;
}


.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left:600px;
    margin-top: 50px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
  }

  .eight-ball .shadow {
    position: absolute;
    display:inline-block;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
  }


div.eight-ball {
  background: radial-gradient(circle at 50% 120%, rgba(36,0,36,0.630987429151348) 0%, rgba(121,9,73,1) 0%, rgba(0,212,255,1) 100%);
  /* background: radial-gradient(circle at 50% 120%, rgba(105,3,184,1) 0%, rgba(130,71,136,1) 100%); */
  /* background: radial-gradient(circle at 50% 120%, rgba(232,214,252,0.7906512946975666) 0%, rgba(184,24,241,1) 88%); */

  /* background: radial-gradient(circle, rgba(158,88,238,0.7906512946975666) 0%, rgba(222,169,241,1) 88%); */
    /* background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.eight-ball:before {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2;
  }
  .eight-ball:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }
  div.answer {
    background-color:rgb(223, 240, 245);
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-top: 70px;
    margin-left: 75px;
    position:absolute;
  }
  
  p#eight {
    font-size: 5em;
    margin: 20% auto;
    color: black;
    text-align:center;
  }
  
  p#answer {
    padding: 15px;
    color: black;
    font-size:20px;
    font-weight:800;
    text-align:center;
    font-family: 'Yeon Sung', cursive;
  }
  #question{
      width:25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  .shake{    
    animation: shake 0.1s ease-in-out 0.1s infinite alternate;
  }
  
  @keyframes shake {
    from {
       -webkit-transform: rotate(10deg);
    }
    to {
      -webkit-transform-origin:center center;
      -webkit-transform: rotate(-10deg);
    }
   
   }  

   button {
    border:none;
    margin-left:2%;
    margin-right:2%;
    background: none;
    text-transform: uppercase;
    height:100%;
    font-weight:700;
    color:white;
    letter-spacing:1px;
    font-size:inherit;
    outline:none;

}
button:hover {
    color:blue;
    background:steelblue;
}

.hide{
    visibility:hidden;
}